

body{
    margin: 0;
    padding: 0;
    --height: 100px;

}
.header{
    display: flex;
    flex-direction: row;
    height: var(--height); 
    
}
.header__logo-group{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__top{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1800px;
}
.big__header{
    background-image: url(img/car.jpg);
    background-size: cover;
}
.header__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.menu__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 52px;
    background: #00C2FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.main{
  height: calc(100vh - var(--height)* 2);  
  
}
.main__group{
    max-width: 1800px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    margin: 0 0;
}
.main__block{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.main__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #00C2FF;
    white-space: nowrap;
    font-size: 32px;
    margin: 0;
    padding: 0;
}
.main__title h1{
    margin: 0;
    padding: 0;
}
.main__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
   
}


.main__text p{
    margin: 0;
    padding: 0;
}

.main__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 52px;
    background: #00C2FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}
.footer{
    background-color: #000000;
    height: var(--height); 
    color: #00C2FF;
    display: flex;
    justify-content: space-around;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
span{
    color: #FFFFFF;
}